{% set pages = site.pages.all|filterBy('section', page.path)|sortByDate %}
{% if page.pagination is defined %}
{% set pages = page.pagination.pages %}
{% endif %}

{% extends '_default/page.html.twig' %}

{% block content %}
      <div class="posts">
{% for post in pages %}

{% if post.title != 'About' %}
        <div class="post">
{% block post %}
          <h1 class="post-title">
            <a href="{{ url(post) }}">{{ post.title|e }}</a>
          </h1>
          <span class="post-date">{{ post.date|date("j M Y") }}</span>

{% if post.image is defined %}
      <img src="{{ post.image }}" />
{% endif %}

          {{ post.content|excerptHtml }}

<a href="{{ url(post) }}" style="text-decoration: underline;" class="post-date">Read More</a>

{% endblock post %}
        </div>
{% endif %}

{% endfor %}
      </div>
{% include 'partials/pagination.html.twig' %}
{% endblock content %}
